h2::before,
h2::after {
  width: 0;
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

main>p {
  margin-left: 1em;
  margin-right: 1em;
}

.thesis-card {
  margin-left: 3%;
  margin-right: 3%;
}

.card {
  width: 100%;
  min-width: 0;
}