header {
  flex-direction: column;
  text-align: center;
}

#p-img {
  height: 8em;
}

header div {
  margin: 0;
}

h1 {
  margin: 0.3em 0;
  width: 100%;
}

main {
  padding-left: 0;
  padding-right: 0;
}

.ref,
.date {
  width: 100%;
}

.ref {
  text-align: left;
}

.date {
  margin-top: 0.8em;
}