#p-img {
  height: 8em;
}

main {
  padding-left: 0;
  padding-right: 0;
}

.card .label-container {
  margin-bottom: 0;
}

.card .label {
  display: inline-block;
  margin-bottom: 0.5em;
  padding: 0.1em 0.8em;
}

.card .ref,
.card .date {
  width: 100%;
}

.card .ref {
  text-align: left;
}

.card .date {
  margin-top: 0.8em;
}