*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Vend Sans', sans-serif;
  line-height: 1.5em;
}

:root {
  --bg-color: #fefff6;
  --bg-color-dark: #d3f2b4;
  --bg-card: #f9fae9;
  --text-color: rgb(85, 39, 39);
  --accent: #00ae00;
  --accent-secondary: #0d710b;

  --bg-anim-duration: 15s
}

@font-face {
  font-family: "Vend Sans";
  src: url("../font/Vend_Sans/VendSans-VariableFont_wght.ttf");
}

/* ====================================== */

/* #region GENERAL CLASSES */

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color-dark);
}

body {
  background-color: var(--bg-color);
  /* background: linear-gradient(134deg, var(--bg-color), var(--bg-color2)); */
  background-size: 400% 400%;
  /* -webkit-animation: BackgroundAnimation var(--bg-anim-duration) ease infinite;
  -moz-animation: BackgroundAnimation var(--bg-anim-duration) ease infinite;
  animation: BackgroundAnimation var(--bg-anim-duration) ease infinite; */
}

header,
main,
footer {
  color: var(--text-color);
}

h1 {
  font-size: 2.3em;
  margin: 0.2em 0 0.8em;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  margin-top: 2em;
}

h2::before,
h2::after {
  background-color: var(--text-color);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 25vw;
  max-width: 12em;
}

h2::before {
  right: 0.5em;
  margin-left: -50%;
}

h2::after {
  left: 0.5em;
  margin-right: -50%;
}

@media screen and (max-width: 768px) {

  h2::before,
  h2::after {
    width: 15vw;
  }
}

main>p {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 1em;
}

a {
  color: var(--accent);
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
}

.box {
  display: inline-block;
  text-wrap-style: balance;
}

/* #endregion GENERAL CLASSES */

/* ====================================== */

/* #region HEADER */

header {
  margin: 0 auto;
  padding: 3em;
  max-width: 600px;

  display: flex;
  justify-content: space-between;
}

header div {
  margin-left: 2em;
}

header div a {
  display: block;
  margin-top: 0.4em;
}

#p-img {
  height: 10em;
}

@media screen and (max-width: 580px) {
  #p-img {
    margin-top: 1.5em;
  }

  h1 {
    margin-top: 0;
    width: 90%;
  }
}

/* #endregion HEADER */

/* ====================================== */

/* #region MAIN */

main {
  margin: 0 auto;
  padding: 1.5em 3em 3em;
  max-width: 1200px;
}

.thesis-card,
.card {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  border: var(--accent-secondary) solid 2px;
  border-radius: 10px;
  padding: 0.5em 1em;
  background-color: var(--bg-card);
  box-shadow: 5px 5px 5px 0px var(--bg-card);
}

.thesis-card {
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  text-align: center;
  font-size: 1.5em;
}

.label-container {
  text-align: center;
  margin-top: 0.5em;
}

.label {
  white-space: nowrap;
  font-family: monospace;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.1em 0.8em;
  border: 2px solid var(--accent);
  border-radius: 1em;
}

.desc {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  text-align: justify;
  flex-grow: 1;
}

.info,
.info .ref,
.info .date {
  margin-top: 0.3em;
}

.ref {
  text-align: right;
}

.ref:last-of-type {
  float: right;
}

.date {
  float: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 45%;
  min-width: 30em;
  /* margin: 2em 1em 0; */
  margin-left: 1em;
  margin-right: 1em;
}

/* #endregion MAIN */

/* ====================================== */

/* #region FOOTER */

footer {
  background-color: var(--bg-color-dark);
  margin-top: 2em;
  padding: 0.8em;
  text-align: center;
}

/* #endregion FOOTER */

/* ====================================== */

@-webkit-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes BackgroundAnimation {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@supports selector(::-webkit-scrollbar) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: var(--bg-color-dark);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--accent-secondary);
    border-radius: 20px;
    border: 2px solid var(--bg-color-dark);
  }

  ::-webkit-scrollbar-button:single-button {
    background-color: var(--bg-color-dark);
    display: block;
    border-style: solid;
    height: 13px;
    width: 16px;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-width: 0 6px 6px 6px;
    border-color: transparent transparent var(--accent-secondary) transparent;
  }

  ::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent var(--accent-secondary) transparent;
  }

  ::-webkit-scrollbar-button:single-button:vertical:increment {
    border-width: 6px 6px 0 6px;
    border-color: var(--accent-secondary) transparent transparent transparent;
  }

  ::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: var(--accent-secondary) transparent transparent transparent;
  }
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--accent) transparent;
  }
}